<div class="box" [ngStyle]="{'background-image': 'url('+ imgPrefix+tvDetails?.backdrop_path +')'}">
    <div class="container">
        <div class="row position-relative z-3">
            <div class="col-md-4">
                <img [src]="imgPrefix+tvDetails?.poster_path" [alt]="tvDetails?.name" class="w-100">
            </div>
            <div class="col-md-8 py-5">
                <div class="box-title">
                    <span class="title">{{tvDetails?.name}}</span>
                    <span class="date">({{tvDetails?.first_air_date | date: 'y'}})</span>
                </div>
                <div class="box-time">
                    <span class="time">{{tvDetails?.first_air_date | date: 'M/d/y'}}</span>
                    <span  *ngFor="let genre of tvGenres">
                        <span class="genres">{{genre?.name}}</span>
                    </span> 
                    <span class="runtime"><i class="fa-regular fa-clock"></i>{{tvDetails?.episode_run_time}} min</span>  
                </div>
                <div class="votvid">
                    <div class="vote-average">
                        <div class="vote"><i class="fa-solid fa-star"></i>{{aroundRating(tvDetails?.vote_average)}}</div>
                    </div>
                    <div class="video"><a [href]="video" target="_blank"><i class="fa-solid fa-play"></i>play trailer</a></div>
                </div>
                
                <div class="tagline">{{tvDetails?.tagline}}</div>
                <div class="overview">
                    <h4>overview</h4>
                    <p>{{tvOverview}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5 box-workers" >
    <div class="box-cast">
        <div class="cast">Cast ({{tvCastsLength}})</div>
        <div *ngFor="let cast of tvCasts">
            <div class="container-cast">
                <a [routerLink]="['/people' , cast.id]" target="_blank">
                    <img [src]="imgPrefix+cast.profile_path" (error)="imageError($event)" [alt]="cast.name">
                </a>

                <div class="info">
                    <a [routerLink]="['/people' , cast.id]" target="_blank" class="name">{{cast.name}}</a>
                    <div class="character">{{cast.character}}</div>
                </div>

            </div>
        
        </div>
    </div>

    <div class="box-crew">
        <div class="crew">Crew ({{tvCrewsLength}})</div>
        <div *ngFor="let crew of tvCrews">
            <div class="container-crew">
                <a [routerLink]="['/people' , crew.id]" target="_blank">
                    <img [src]="imgPrefix+crew.profile_path" (error)="imageError($event)" [alt]="crew.name">
                </a>

                <div class="info">
                    <a [routerLink]="['/people' , crew.id]" target="_blank" class="name">{{crew.name}}</a>
                    <div class="job">{{crew.job}}</div>
                </div>

            </div>
        
        </div>
    </div>
    
</div>


