.box {
    display: flex;
    .box-info {
        img {
            border-radius: 10px;
        }

        h2 {
            margin-top: 40px;
            font-weight: 600;
        }

        .known-for {
            margin-bottom: 20px;
            h4 {
                margin-bottom: 0px;
                font-weight: 600;
            }
        }

        .Gender {
            margin-bottom: 20px;
            h4 {
                margin-bottom: 0px;
                font-weight: 600;
            }
            div {
                text-transform: capitalize;
            }
        }

        .Birthday {
            margin-bottom: 20px;
            h4 {
                margin-bottom: 0px;
                font-weight: 600;
            }
        }

        .Place-of-Birth {
            margin-bottom: 20px;
            h4 {
                margin-bottom: 0px;
                font-weight: 600;
            }
            
        }


        a {
            margin-bottom: 50px;
            display: block;
            padding: 15px 25px;
            width: fit-content;
            background-color: transparent;
            border: 2px solid #032541;
            border-radius: 8px;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            color: #000;
        }
    }

    .box-details {
        margin-left: 50px;

        h2 {
            padding-top: 25px;
            font-weight: bold;
        }

        h3 {
            margin-top: 40px;
            font-weight: 600;
        }

        p {
            font-size: 15px;
        }
    }
}


@media (min-width:480px) and (max-width:569px) {
    .box {
        .box-info {
            img {
                width: 110px !important;
            }
    
            h2 {
                font-size: 16px;
            }
    
            .known-for {
                
                h4 {
                    font-size: 14px;
                }
                div {
                    font-size: 14px;
                }
            }
    
            .Gender {
                h4 {
                    font-size: 14px;
                }
                div {
                    font-size: 14px;
                }
            }
    
            .Birthday {
                h4 {
                    font-size: 14px;
                }
                div {
                    font-size: 14px;
                }
            }
    
            .Place-of-Birth {
                h4 {
                    font-size: 14px;
                }
                div {
                    font-size: 14px;
                }
                
            }
    
    
            a {
                padding: 5px 10px;
                font-size: 14px;
            }
        }
    
        .box-details {
            margin-left: 30px;
    
            h2 {
                font-size: 20px;
            }
    
            h3 {
                font-size: 18px;
            }
    
            p {
                font-size: 14px;
            }
        }
    }
}


@media (min-width:570px) and (max-width:767px) {
    .box {
        .box-info {
            img {
                width: 120px !important;
            }
    
            h2 {
                font-size: 16px;
            }
    
            .known-for {
                
                h4 {
                    font-size: 14px;
                }
                div {
                    font-size: 14px;
                }
            }
    
            .Gender {
                h4 {
                    font-size: 14px;
                }
                div {
                    font-size: 14px;
                }
            }
    
            .Birthday {
                h4 {
                    font-size: 14px;
                }
                div {
                    font-size: 14px;
                }
            }
    
            .Place-of-Birth {
                h4 {
                    font-size: 14px;
                }
                div {
                    font-size: 14px;
                }
                
            }
    
    
            a {
                padding: 5px 10px;
                font-size: 14px;
            }
        }
    
        .box-details {
            margin-left: 30px;
    
            h2 {
                font-size: 20px;
            }
    
            h3 {
                font-size: 18px;
            }
    
            p {
                font-size: 14px;
            }
        }
    }
}
@media (min-width:768px) and (max-width:1023px) {
    .box {
        .box-info {
            img {
                width: 100% !important;
            }
        }

        .box-details {
            margin-left: 20px;
        }
    }
}
