<div class="container">
    <div class="box">
        <div class="box-info col-md-4">
            <img [src]="imgPrefix+peopleDetail?.profile_path" [alt]="peopleDetail?.name" (error)="imageError($event)" class="w-100">
            <h2>Personal Info</h2>
            <div class="known-for">
                <h4>Known For</h4>
                <div>{{peopleDetail?.known_for_department}}</div>
            </div>
            <div class="Gender">
                <h4>Gender</h4>
                <div>{{peopleGender}}</div>
            </div>
            <div class="Birthday">
                <h4>Birthday</h4>
                <p>{{peopleBirthday}}</p>
            </div>
            <div class="Place-of-Birth">
                <h4>Place of Birth</h4>
                <p>{{peoplePlaceOfBirth}}</p>

            </div>
            
            <a [href]="imdbUrl" target="_blank">IMDB</a>
            
        </div>
        <div class="box-details col-md-8">
            <h2>{{peopleName}}</h2>
            <div class="detail">
                <h3>Biography</h3>
                <p>{{peopleBiography}}</p>
            </div>
        </div>
    </div>
</div>
