<div class="p-4 w-75 m-auto ">
    <input type="search" [(ngModel)]="term" class="form-control rounded-2" placeholder="Search for a movie...">
</div>


<div class="container">
    <div class="row">
        <div *ngFor="let tv of airingTodayTvShows |search:term | paginate:config " class="col-md-3 py-3">
            <app-tv [data]="tv"></app-tv>
        </div>
    </div>
</div>




<div class="w-100 d-flex justify-content-center pt-3">
    <pagination-controls class="text-dark" (pageChange)="onPageChange($event)"></pagination-controls>
</div>