<div class="container">
    <div class="row">
        <div class="info col-md-4">
            <div class="brdr w-25 mb-3"></div>
            <h3 class="pt-2">Trending <br>Movies <br>To Watch Right Now</h3>
            <p class="py-3">most watched movies by day</p>
            <div class="brdr w-100 mt-3"></div>
        </div>
        <div *ngFor="let movie of trendingMovies" class="col-md-2 py-3">
                    <div class="movie box">
                        <a [routerLink]="['/moviedetail' , movie.id]" target="_blank">
                            <img [src]="imgPrefix+movie.poster_path" [alt]="movie.title" class="w-100">
                        </a>
                        <div class="box-details">
                            <a [routerLink]="['/moviedetail' , movie.id]" target="_blank">
                                <h4>{{movie.title}}</h4>
                            </a>
                            <h5>{{movie.release_date | date :'y'}}</h5>
                        </div>
                        <div class="box-langvote">
                            <div class="lang">{{movie.original_language}}</div>
                            <div class="vote"><i class="fa-solid fa-star"></i>{{aroundRating(movie.vote_average)}}</div>
                        </div>
                    </div>
        </div>
    </div>
</div>


<div class="container py-5">
    <div class="row">
        <div class="info col-md-4">
            <div class="brdr w-25 mb-3"></div>
            <h3 class="pt-2">Trending <br>TVShows <br>To Watch Right Now</h3>
            <p class="py-3">most watched tvShows by day</p>
            <div class="brdr w-100 mt-3"></div>
        </div>
        <div *ngFor="let tv of trendingTvShows" class="col-md-2 py-3">
                    <div class="tv box">
                        <a [routerLink]="['/tvdetail' , tv.id]" target="_blank">
                            <img [src]="imgPrefix+tv.poster_path" [alt]="tv.name" class="w-100">
                        </a>
                        <div class="box-details">
                            <a [routerLink]="['/tvdetail' , tv.id]" target="_blank">
                                <h4>{{tv.name}}</h4>
                            </a>
                            <h5>{{tv.first_air_date | date :'y'}}</h5>
                        </div>
                        <div class="box-langvote">
                            <div class="lang">{{tv.original_language}}</div>
                            <div class="vote"><i class="fa-solid fa-star"></i>{{aroundRating(tv.vote_average)}}</div>
                        </div>
                    </div>
        </div>
    </div>
</div>






