.footer {
    background: #032541;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 25px 0;
    font-size: 14px;
    color: #fff;
  
    .footerHassan {
      font-weight: bold;
      transition: color 0.4s cubic-bezier(0.6, -0.05, 0.01, 0.99);
    }
  
    .footerSocial {
      text-decoration: none;
      cursor: pointer;
      margin-left: 10px;
      transition: ease-in-out 150ms;
  
      &:hover {
        transform: scale(1.1);
      }
  
      img {
        width: 24px;
      }
  
    }
  
  }